body {
    background-color: #000
}

#console {
    font-family: courier, monospace;
    color: #33cc33;
    width:750px;
    margin-left:auto;
    margin-right:auto;
    margin-top:80px;
    font-size:14px;
}

input {
    background-color: #000;
    color: #33cc33;
    font-family: courier, monospace;
    border: 0px solid;
    font-size:14px;
}

/* Hack to hide the submit button */
button {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

a {
    color: #33cc33;
}

/* Make left table data width 100px for 'help' section */
.tdLeft {
    width: 100px;
}
