body {
    background-color: white;
}

#console {
    font-family: courier, monospace;
    color: black;
    width:750px;
    margin-left:auto;
    margin-right:auto;
    margin-top:80px;
    font-size:14px;
}

input {
    background-color: white;
    color: black;
    font-family: courier, monospace;
    border: 0px solid;
    font-size:14px;
}

/* Hack to hide the submit button */
button {
    position: absolute;
    left: -9999px;
    top: -9999px;
}

a {
    color: black;
}

/* Make left table data width 100px for 'help' section */
.tdLeft {
    width: 100px;
}

#term_settings {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: black;
    font-family: courier, monospace;
    text-align: center;
    font-size:10px;
}

#term_settings a:link {
    text-decoration: none;
}


#term_settings a:visited {
    text-decoration: none;
}

.term_link {
    padding: 0.7em;
}
